{% extends 'base.html' %}

{% block title %}Random Recommendation - The Coolest Team{% endblock %}

{% block content %}
<h2>Random Recommendation</h2>
<div class="row">
    {% if movie %}
    <div class="col-md-6">
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">{{ movie.title }}</h5>
                <p class="card-text">{{ movie.description }}</p>
                <a href="{{ url_for('main.movie_detail', movie_id=movie.id) }}" class="btn btn-primary">View Movie</a>
            </div>
        </div>
    </div>
    {% endif %}
    {% if tvshow %}
    <div class="col-md-6">
        <div class="card mb-4 shadow-sm">
            <div class="card-body">
                <h5 class="card-title">{{ tvshow.title }}</h5>
                <p class="card-text">{{ tvshow.description }}</p>
                <a href="{{ url_for('main.tvshow_detail', tvshow_id=tvshow.id) }}" class="btn btn-primary">View TV
                    Show</a>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}